[Unit]
Description=Openstack Database service
After=docker.service
After=mnt-db.mount
Before=database-etcd.service
Requires=docker.service
Requires=mnt-db.mount
Requires=database-etcd.service

[Service]
ExecStartPre=-/usr/bin/docker kill os-database
ExecStartPre=-/usr/bin/docker rm os-database
ExecStartPre=-/usr/bin/docker pull jechas01/centos-mysql:centos6
ExecStart=/usr/bin/docker run -p 3306:3306 --rm --name os-database -v /mnt/db/osdb:/var/lib/mysql jechas01/centos-mysql:centos6
ExecStop=/usr/bin/docker stop os-database

[X-Fleet]
Conflicts=database.service
